{% extends 'base.html.twig' %}

{% block title %}List Room Available{% endblock %}

{% block body %}
<style>
    .card {
        display: inline-block;
    }
    .card-body h5 {
        display: inline-block;
    }
    .badge {

    }
</style>

    {% for room in rooms %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
{#                    {% if room.booking %}#}
{#                        <span class="badge badge-danger float-right">Booked</span>#}
{#                    {% endif %}#}
                    <p class="card-text">{{ room.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ path('room_detail', {'id':room.id}) }}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
