{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room Detail</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Time From</th>
                <td>{{ room.timeFrom |date("m/d/Y")}}</td>
            </tr>
            <tr>
                <th>Time To</th>
                <td>{{ room.timeTo |date("m/d/Y")}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('home') }}" class="btn btn-danger">Back To List</a>
    <a href="{{  path('booking_room', {'id': room.id}) }}" class="btn btn-success">Book this Room</a>
{% endblock %}
