.flash-Error {
    margin: 12px 0;
    padding: 12px;
    background-color: wheat;
    color: red;
}
.flash-Success {
    margin: 12px 0;
    padding: 12px;
    background-color: green;
    color: white;
}