{% extends 'base.html.twig' %}
{% block body %}
<h1>All Articles</h1>

{% if articles is not empty %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td><a href="delete-article/{{ article.id }}">Delete</a></td>
                <td><a href="update-article/{{ article.id }}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No article found.</p>
{% endif %}

<br/>
<a href="/create-article">Create New</a>

{%  endblock %}