{% extends 'base.html.twig' %}
{% block body %}
<h1>Article Created or Modified</h1>

<table>
    <tbody>
    <tr>
        <th>Title:</th>
        <td>{{ article.title }}</td>
    </tr>

    </tbody>
</table>

<br/>
<a href="/show-articles">View All</a> -
<a href="/update-article/{{ article.id }}">Modify</a>
{%  endblock %}